/* hero css start   */

.about-hero-area {
  position: relative;
  height: 980px;
  background: #f3fcff;
}

.about-hero-area .row {
  height: 980px;
}

.about-hero-title {
  margin-bottom: 55px;
}

.about-hero-title h1 {
  color: #2c2f93;
  font-size: 120px;
  letter-spacing: 50px;
}

.about-hero-description {
  padding-right: 50px;
}

.about-hero-description p {
  font-size: 25px;
  margin-bottom: 40px;
  line-height: 50px;
}

.about-hero-slider-active {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 980px;
  overflow: hidden;
}

.about-hero-img img {
  width: 100%;
  height: 100%;
  animation: aboutHeroImgZoomInOut 10s ease-in-out infinite;
  transition: transform 0.5s ease;
  will-change: transform;
  object-fit: cover;
  height: 1270px;
}

@keyframes aboutHeroImgZoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* hero css end  */

/* who we are css start  */

.who-we-are-area {
  padding: 155px 0;
}

.who-we-are-title {
  margin-bottom: 90px;
}

.who-we-are-title h2 {
  font-size: 100px;
  letter-spacing: 45px;
  color: #383838;
  text-transform: uppercase;
  text-align: center;
}

.who-we-are-description p {
  font-size: 25px;
  margin-bottom: 60px;
  color: #222;
  line-height: 50px;
}

/* who we are css end */

/* vision mission css start  */

.vision-mission-title {
  margin-bottom: 25px;
}

.vision-mission-title h2 {
  font-size: 100px;
  letter-spacing: 30px;
  color: #3a3a3a;
  text-transform: uppercase;
}
.vision-mission-img-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 60px;
}

.vision-mission-img {
  overflow: hidden;
}

.vision-mission-img img {
  object-fit: cover;
  width: 100%;
  max-height: 468px;
}

.vision-mission-img img:hover {
  transform: scale(1.1);
}

.vision-mission-text p {
  font-size: 25px;
  color: #222;
  line-height: 50px;
}

/* vision mission css end */

/* long service css start  */

.long-service-area {
  padding: 110px 0;
}

.long-service-title {
  margin-bottom: 80px;
}

.long-service-title h2 {
  font-size: 100px;
  letter-spacing: 50px;
  color: #2c2f93;
  text-transform: uppercase;
  text-align: center;
}

.long-service-wrap {
  margin-bottom: 35px;
}

/* long service css end */
