/* hero css start   */

.about-hero-area {
  position: relative;
  height: 980px;
}

.about-hero-area .row {
  height: 980px;
}

.about-hero-title {
  margin-bottom: 55px;
}

.about-hero-title h1 {
  color: #2c2f93;
  font-size: 120px;
  letter-spacing: 50px;
}

.about-hero-description {
  padding-right: 50px;
}

.about-hero-description p {
  font-size: 25px;
  margin-bottom: 40px;
  text-align: justify;
}

.about-hero-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 960px;
  height: 980px;
}
.about-hero-img img {
  position: absolute;
  top: 0;
  right: 0;
  width: 960px;
  height: 980px;
}
