/* contact banner css start  */

.contact-banner-area {
  background-image: url("../img/bg/banner_04.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 60vh;
  position: relative;
  position: relative;
  z-index: 1;
}

.contact-banner-area::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #00000080;
  z-index: -1;
}

.contact-banner-title {
  padding: 145px 0;
  max-width: 855px;
}
.contact-banner-title h1 {
  font-size: 120px;
  color: #fff;
  line-height: 141px;
  text-transform: uppercase;
}

/* contact banner css end */

/* contact form css start  */

.contact-form-area {
  padding: 150px 0;
}

.contact-form-title {
  margin-bottom: 85px;
}

.contact-form-title h2 {
  font-size: 100px;
  color: #262626;
  text-transform: uppercase;
}

.input-wrap {
  margin-bottom: 20px;
}

.input-wrap .form-floating label {
  padding: 24px 12px;
}

.input-wrap .form-floating input {
  height: 70px;
  border-radius: 0;
  color: #000;
  font-size: 20px;
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label,
.input-wrap .form-floating label {
  color: #000;
}

.input-wrap .form-floating textarea {
  height: 185px;
  resize: none;
  border-radius: 0;
  color: #000;
  font-size: 20px;
}

.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 2rem;
  border-width: 2px;
}

.contact-widget {
  margin-bottom: 73px;
}

.contact-widget span {
  display: block;
  font-size: 30px;
  color: #3f3f3f;
  text-transform: capitalize;
}

.contact-widget a {
  display: inline-block;
  font-size: 40px;
  color: #3f3f3f;
}

.contact-widget a:hover {
  text-decoration: underline;
}

.submit-btn button {
  border: 0;
  outline: 0;
  background: linear-gradient(45deg, #2e3192, #00b0f0);
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 13.5px;
  width: 100%;
  padding: 20.5px 0;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;
  transition: all 0.3s linear;
}

.submit-btn button img {
  filter: invert(1);
}

.submit-btn button:hover {
  background: linear-gradient(45deg, #2e3192, #2e3192);
}

.submit-btn button:hover img {
  transform: translateX(10px);
}

/* contact form css end */

/* contact map css start  */

.contact-map-area {
  padding: 100px 0;
}

.gallery-title.contact-map {
  margin-bottom: 75px;
}
/* contact map css end */
