/* Header Area */
.header-area {
  padding: 15px 0;
  transition: all 0.3s linear;
  position: sticky;
  width: 100%;
  top: 0;
  background: #f3fcff;
  z-index: 99999;
}

.header-area.hidden {
  top: -100px; /* Move the header up when hidden */
}

.header-area::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background: #e3f8ff;
  width: 1325px;
  height: 100%;
  z-index: -1;
}

.header-logo {
  width: 242px;
  display: inline-block;
}

/* Header Right */
.header-right ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-right ul li {
  margin-left: 97px;
}

.header-right ul li a {
  display: inline-flex;
  align-items: center;
  color: #161616;
}

#menuBtn {
  transition: none;
}

.header-right ul li a:hover {
  color: #2e3192;
}
.header-right ul li a:hover img {
  filter: invert(12%) sepia(50%) saturate(7388%) hue-rotate(240deg)
    brightness(85%) contrast(98%);
}

.header-right ul li span {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin-left: 12px;
  margin-right: 6px;
}

.header-right ul li img {
  animation: networkExpand 2s infinite ease-in-out;
}

.header-right ul li:last-child img {
  animation: none;
}

@keyframes networkExpand {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.85;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* side-bar-menu css start  */

.side-bar-menu {
  padding: 42px 0;
  background: #252c65f2;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999999999;
  color: #fff;
  text-transform: uppercase;
  visibility: hidden;
  width: 0;
  transition: all 0.3s linear;
  height: 100vh !important;
  overflow: hidden;
}

.side-bar-menu.light {
  background: #f3fcff;
  box-shadow: 0 0 50px #d8d8da80;
  color: #2c2f93;
}

.side-bar-menu.active {
  visibility: visible;
  width: 475px;
  overflow: auto;
  padding: 42px;
}

.side-bar-logo a img,
.side-bar-logo a svg {
  transition-property: none;
}

.side-bar-menu.light a:hover svg {
  transition: all 0.3s linear;
}

.side-bar-menu.light a:hover svg path {
  fill: #009ed7;
}

.side-bar-menu.active a:hover img {
  filter: brightness(0) saturate(100%) invert(66%) sepia(89%) saturate(2994%)
    hue-rotate(176deg) brightness(101%) contrast(103%);
}

.side-bar-logo {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 340px;
}

#crossBtn {
  width: 36px;
  height: 36px;
}

#crossBtn:hover img {
  filter: brightness(0) saturate(100%) invert(66%) sepia(89%) saturate(2994%)
    hue-rotate(176deg) brightness(101%) contrast(103%);
}

.side-bar-menu.light #crossBtn:hover svg {
  fill: #009ed7;
}

.side-bar-menu ul {
  list-style: none;
  max-width: 340px;
  display: none;
}

.side-bar-menu.active ul {
  display: block;
}

.side-bar-menu ul > li {
  margin-bottom: 40px;
}

.side-bar-menu ul > li > a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.side-bar-menu ul > li:hover > a {
  color: #02b1f0;
}
.side-bar-menu.light ul > li:hover > a {
  color: #009ed7;
}

.side-bar-menu ul > li:hover > a img {
  transform: rotate(180deg);
}
.side-bar-menu ul > li:hover > a svg {
  transform: rotate(180deg);
}

.side-bar-menu ul > li:last-child {
  margin-bottom: 0;
}

.side-bar-menu ul > li > ul {
  padding-top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: height 0.3s linear;
  overflow-y: hidden;
}

.side-bar-menu ul > li:hover > ul {
  padding-top: 20px;
  height: 135px;
  visibility: visible;
  opacity: 1;
}

.side-bar-menu ul > li > ul > li {
  margin-bottom: 20px;
}

.side-bar-menu ul > li > ul > li:hover > a {
  color: #02b1f0;
}

.side-bar-menu ul > li > ul > li:last-child {
  margin-bottom: 0;
}

/* side-bar-menu css end */
