.projects-area {
  padding: 90px 0;
}

.project-banner-area {
  overflow: visible;
}

.project-banner-area .banner-top {
  background-image: url("../img/bg/img-7.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 572px;
  position: relative;
  z-index: 1;
}

.project-banner-area .banner-top::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00166280;
  z-index: -1;
}

.project-banner-title {
  padding: 145px 0;
}

.project-banner-title h1 {
  font-size: 120px;
  color: #fff;
  line-height: 141px;
}

.project-banner-area .banner-bottom {
  background: #d3e9f1;
}

.banner-select {
  position: relative;
  padding: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
}

.banner-select::after {
  position: absolute;
  content: url("../img/icons/down-chevron-black.svg");
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 3;
  pointer-events: none;
}

.select {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40px;
}

.option {
  padding: 0 30px 0 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 1;
  transition: all 0.3s linear;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  color: #101010;
  background: #d3e9f1;
  margin: 0;
}

.option:hover {
  background: #00aeef;
}

.select:focus .option {
  position: relative;
  pointer-events: all;
}

input.selectopt {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

input.selectopt:checked + label {
  /* order: 1; */
  z-index: 2;
  border-top: none;
  position: relative;
  color: #101010;
}

.banner-search {
  position: relative;
  padding: 10px 0;
}

.banner-search button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border: 0;
  outline: 0;
}
.banner-search button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border: 0;
  outline: 0;
  background: #fff;
}

.banner-search input {
  background: #fff !important;
  height: 55px;
  border-radius: 0;
}

.projects-area .swiper-slide.single-slide {
  margin-bottom: 24px;
}

.projects-area .swiper-slide.single-slide .project-slide-wrap {
  padding: 0;
}

.projects-area .swiper-slide.single-slide .brand-logo-wrap {
  position: absolute;
  bottom: 125px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 17.5px;
  width: 396px;
  box-shadow: 0 0 20px #00000012;
}

.projects-area .swiper-slide.single-slide .brand-logo-wrap .details-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  font-size: 25px;
  color: #000;
  text-transform: uppercase;
}

.projects-area .swiper-slide.single-slide .brand-logo-wrap .details-btn img {
  margin-left: 12px;
}

.projects-area
  .swiper-slide.single-slide
  .brand-logo-wrap:hover
  .details-btn
  img {
  transform: translateX(8px);
}

/* project details banner css start  */

.project-details-hero-area {
  background: linear-gradient(0deg, #ffffff 16%, #f3fcff 16%);
}

.project-details.project-slide-wrap {
  position: inherit;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  height: auto;
  padding: 0;
  background: #f3fcff;
}

.project-details.project-slide-wrap .brand-logo-wrap {
  margin-bottom: 45px;
  padding: 17.5px;
  display: inline-block;
  background: #fff;
  box-shadow: 0 0 20px #00000012;
}

.project-details-title {
  margin: 25px 0;
}
.project-details-title h1 {
  color: #2c2f93;
  font-size: 120px;
  line-height: 141px;
  text-transform: uppercase;
}

.project-details-hero-img {
  overflow: hidden;
}

.project-details-hero-img img {
  object-fit: cover;
  animation: heroImgZoomInOut 10s ease-in-out infinite;
}

/* project details banner css end */

/* about project css start  */

.about-project-area {
  padding: 135px 0 0;
}

.about-project-title h2 {
  font-size: 70px;
  line-height: 82px;
  color: #242424;
  text-transform: uppercase;
}

.about-project-subtitle {
  margin-bottom: 40px;
}

.about-project-subtitle h3 {
  font-size: 50px;
  line-height: 59px;
  color: #2c2f93;
  text-transform: uppercase;
}

.about-project-description p {
  font-size: 25px;
  line-height: 50px;
  color: #222;
  margin-bottom: 15px;
}

.about-project-description p:last-child {
  margin-bottom: 0;
}

/* about project css end */

/* gallery  css  start*/

.project-gallery-title {
  margin: 25px 0;
}

.project-gallery-title h2 {
  font-size: 100px;
  text-transform: uppercase;
}

.gallery-area.project-details .swiper-slide-prev,
.gallery-area.project-details .swiper-slide-next {
  transform: scale(1);
  opacity: 1;
}

.gallery-title.project-details {
  margin-bottom: 110px;
}

.gallery-title.project-details h2 {
  color: #2c2f93;
}

/* gallery css end  */

.project-slider-area.project-details {
  padding: 100px 0 80px;
}
