/* Laptop layout min 1200px */

@media (min-width: 1200px) and (max-width: 1600px) {
  .hero-title h1 {
    font-size: 75px;
  }

  .feature-slide-content {
    padding: 35px 0 0 25px;
  }

  .item-title h4 {
    font-size: 28px;
  }

  .feature-content-bottom {
    margin-top: 80px;
  }

  .background-video {
    height: 650px;
  }

  .project-inside-title h2 {
    font-size: 95px;
  }

  .project-inside-area .carousel-caption {
    top: 110px;
    left: 140px;
  }

  .gallery-area {
    padding: 0px 0;
  }

  .achievement-items {
    margin-bottom: 90px;
  }

  .achievement-items h3 {
    font-size: 85px;
  }

  .achievement-items h4 {
    font-size: 44px;
  }

  .achievement-shape {
    width: 250px;
  }

  .achievement-link a {
    letter-spacing: 5px;
  }

  .cto-shape {
    left: 25px;
    top: 50px;
    width: 150px;
  }

  .cto-title {
    margin-left: 0;
  }

  .cto-title h2 {
    font-size: 100px;
  }

  .cto-img-wrap {
    width: 1233px;
    height: 500px;
  }

  .cto-link span {
    font-size: 50px;
  }

  .cto-marquee-text h3 {
    font-size: 55px;
  }

  /* about page css  */

  .about-hero-area {
    height: 810px;
  }

  .about-hero-area .row {
    height: 810px;
  }

  .about-hero-title {
    margin-bottom: 24px;
  }

  .about-hero-title h1 {
    font-size: 65px;
  }

  .about-hero-description p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .about-hero-img {
    width: 720px;
    height: 810px;
  }

  .who-we-are-title h2 {
    font-size: 75px;
    letter-spacing: 35px;
  }

  .who-we-are-description p {
    font-size: 20px;
  }

  .vision-mission-title h2 {
    font-size: 90px;
  }

  .vision-mission-text p {
    font-size: 20px;
  }
}

/* Mini laptop layout min 769px */

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-title h1 {
    font-size: 75px;
  }

  .project-subtitle h2 {
    font-size: 44px;
  }

  .project-title h2 {
    font-size: 90px;
  }

  .feature-slider-button {
    display: none;
  }

  .feature-title h2 {
    font-size: 48px;
  }

  .feature-slide-content {
    padding: 20px;
  }

  .feature-content-top {
    margin-bottom: 24px;
  }

  .feature-content-top h2 {
    font-size: 48px;
  }

  .item-wrap img {
    margin-right: 8px;
  }

  .item-wrap span {
    font-size: 16px;
  }
  .item-title h4 {
    font-size: 28px;
  }

  .feature-slide-items {
    margin-bottom: 60px;
  }

  .feature-content-bottom {
    margin-top: 60px;
    margin-bottom: 8px;
  }

  .feature-slide-img {
    width: 485px;
    height: 537px;
  }

  .background-video {
    height: 500px;
  }

  .project-inside-area .carousel-caption h2 {
    font-size: 65px;
    margin-bottom: 15px;
  }

  .project-inside-area .carousel-caption p {
    margin-bottom: 100px;
  }

  .project-inside-title h2 {
    font-size: 72px;
  }

  .project-inside-area .carousel-caption {
    top: 60px;
    left: 135px;
  }

  .gallery-area {
    padding: 0;
  }

  .gallery-title h2 {
    font-size: 80px;
  }

  .achievement-shape {
    width: 125px;
  }

  .achievement-items {
    margin-bottom: 120px;
  }

  .achievement-items h3 {
    font-size: 72px;
  }

  .achievement-items h4 {
    font-size: 42px;
  }

  .cto-area {
    padding: 70px 0 0;
  }

  .cto-shape {
    left: 75px;
    top: 45px;
    width: 150px;
    height: 150px;
  }

  .cto-title {
    margin-left: 115px;
  }

  .cto-title h2 {
    color: #242424;
    font-size: 90px;
    text-transform: uppercase;
  }

  .cto-img-wrap {
    width: 850px;
    height: 345px;
    margin-top: -35px;
  }

  .cto-link span {
    font-size: 40px;
    color: #fff;
    margin-right: 33px;
  }

  .cto-marquee-text h3 {
    font-size: 48px;
  }

  /* about page css  */

  .about-hero-area {
    height: 575px;
  }

  .about-hero-area .row {
    height: 575px;
  }

  .about-hero-img {
    width: 515px;
    height: 575px;
  }

  .about-hero-title h1 {
    font-size: 65px;
    letter-spacing: 30px;
  }

  .about-hero-description p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
  }

  .who-we-are-area {
    padding: 90px 0;
  }

  .who-we-are-title {
    margin-bottom: 55px;
  }
  .who-we-are-title h2 {
    font-size: 75px;
    letter-spacing: 28px;
  }

  .who-we-are-description p {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .vision-mission-title h2 {
    font-size: 70px;
  }

  .vision-mission-text p {
    font-size: 20px;
  }

  /* contact page css  */

  .contact-form-area {
    padding: 80px 0 10px;
  }

  .contact-form-title h2 {
    font-size: 52px;
    letter-spacing: 15px;
  }

  /* project page css  */

  .project-banner-area .banner-top {
    height: 305px;
  }

  .project-banner-title {
    padding: 52px 0;
  }

  .project-banner-title h1 {
    font-size: 100px;
    color: #fff;
    line-height: 100px;
  }

  /* project details page css  */

  .project-details-title h1 {
    font-size: 90px;
  }

  .about-project-description p {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}

/* Tablet Layout wide: 768px. */

@media (max-width: 991px) and (min-width: 768px) {
  .header-area {
    height: auto;
  }

  .header-logo {
    width: 185px;
  }

  .header-right ul li span {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-left: 12px;
    margin-right: 5px;
    color: #333;
  }

  .header-right ul li img {
    width: 16px;
  }

  .hero-bg img,
  .hero-bg svg {
    height: 445px;
  }

  .hero-title h1 {
    font-size: 52px;
  }

  .project-subtitle h2 {
    font-size: 32px;
  }

  .project-title h2 {
    font-size: 72px;
  }

  .project-slider-active {
    margin-top: -25px;
  }

  .feature-title h2 {
    font-size: 32px;
  }

  .feature-slide-wrap {
    grid-template-columns: 1fr;
  }

  .feature-slide-img {
    width: 100%;
    text-align: center;
  }

  .feature-slider-button {
    display: none;
  }

  .feature-slide-content {
    padding: 35px;
  }

  .project-inside-title h2 {
    font-size: 55px;
    column-gap: 35px;
  }

  .project-inside-area .carousel-caption {
    top: 20px;
    left: 85px;
  }

  .background-video {
    height: 430px;
  }

  .project-inside-area .carousel-caption h4 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .project-inside-area .carousel-caption h2 {
    font-size: 52px;
    margin-bottom: 8px;
  }

  .project-inside-area .carousel-caption p {
    margin-bottom: 125px;
  }

  .project-inside-area .carousel-control-prev img,
  .project-inside-area .carousel-control-next img {
    width: 24px;
  }

  .gallery-area {
    padding: 0;
  }

  .gallery-title {
    margin-bottom: 40px;
  }

  .gallery-title h2 {
    font-size: 60px;
  }

  .achievement-area {
    padding: 100px 0;
  }

  .achievement-items h3 {
    font-size: 72px;
  }

  .achievement-items h4 {
    font-size: 28px;
  }

  .achievement-shape {
    width: 145px;
  }

  .achievement-link a {
    letter-spacing: 5px;
  }

  .cto-title {
    margin-left: 60px;
  }

  .cto-title h2 {
    font-size: 72px;
  }

  .cto-img-wrap {
    width: 665px;
    height: 270px;
    margin-top: -30px;
  }

  .cto-link span {
    font-size: 40px;
  }

  .cto-shape {
    left: 25px;
    top: 95px;
    width: 135px;
    height: 135px;
  }

  .cto-marquee-text h3 {
    font-size: 42px;
  }

  .footer-widget a {
    margin-bottom: 12px;
  }

  .footer-social {
    margin-top: 0;
  }

  /* about page css  */

  .about-hero-area {
    height: auto;
  }

  .about-hero-area .row {
    height: auto;
  }

  .about-hero-img {
    position: inherit;
    max-width: 100%;
    max-height: 800px;
  }

  .about-hero-img img {
    position: inherit;
  }

  .about-hero-title h1 {
    font-size: 72px;
    letter-spacing: 25px;
    text-align: center;
  }

  .about-hero-description {
    padding-right: 0;
  }

  .about-hero-description p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .who-we-are-area {
    padding: 80px 0;
  }

  .who-we-are-title {
    margin-bottom: 55px;
  }

  .who-we-are-title h2 {
    font-size: 65px;
    letter-spacing: 24px;
  }

  .who-we-are-description p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .vision-mission-title {
    margin-bottom: 24px;
  }

  .vision-mission-title h2 {
    font-size: 54px;
    letter-spacing: 20px;
  }

  .vision-mission-text p {
    font-size: 18px;
    color: #222;
  }

  /* project page css  */

  .project-banner-area .banner-top {
    height: 229px;
  }

  .project-banner-title {
    padding: 42px 0;
  }

  .project-banner-title h1 {
    font-size: 72px;
    color: #fff;
    line-height: 72px;
  }

  .projects-area {
    padding: 90px 0 0px;
  }

  .project-slide-img img {
    height: 450px;
  }

  /* project details page css  */

  .project-details-title h1 {
    font-size: 72px;
  }

  .about-project-description p {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .project-details-hero-img img {
    height: 585px;
  }

  .about-project-title h2 {
    font-size: 52px;
  }

  .about-project-subtitle h3 {
    font-size: 36px;
  }

  .about-project-description p {
    font-size: 18px;
    line-height: 32px;
  }
}

/* Mobile layout max 425 */

@media (max-width: 767px) {
  .header-area {
    height: auto;
  }

  .header-logo {
    width: 140px;
  }

  .hero-area {
    padding-top: 40px;
  }

  .hero-title {
    margin-bottom: 24px;
  }

  .hero-title h1 {
    font-size: 35px;
    text-align: center;
  }

  .hero-bg img,
  .hero-bg svg {
    height: 445px;
  }

  .project-slider-area {
    padding: 80px 0;
  }

  .project-subtitle h2 {
    font-size: 20px;
  }

  .project-title h2 {
    font-size: 36px;
  }

  .project-slider-active {
    margin-top: -15px;
  }

  .features-area {
    padding: 25px 0;
  }

  .feature-title {
    margin-bottom: 30px;
  }

  .feature-title h2 {
    font-size: 24px;
    letter-spacing: 5px;
  }
  .feature-slide-wrap {
    grid-template-columns: 1fr;
  }

  .feature-slide-content {
    padding: 12px;
  }

  .feature-content-top {
    margin-bottom: 24px;
  }

  .feature-content-top h2 {
    font-size: 42px;
  }

  .feature-slide-items {
    margin-bottom: 24px !important;
  }

  .item-wrap img {
    width: 12px;
  }

  .item-wrap span {
    font-size: 12px;
  }

  .item-title h4 {
    font-size: 20px;
  }

  .feature-content-bottom {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .feature-content-bottom a {
    letter-spacing: 7px;
    font-size: 14px;
  }

  .feature-slide-img {
    width: 100%;
  }
  .feature-slide-img img {
    height: auto;
  }

  .feature-slider-button {
    display: none;
  }

  .project-inside-area {
    padding: 60px 0;
  }

  .project-inside-title h2 {
    font-size: 28px;
    column-gap: 20px;
  }

  .project-inside-title h2 .title-word {
    display: flex;
    gap: 5px;
  }

  .background-video {
    height: 210px;
  }

  .project-inside-area .carousel-caption {
    top: 10px;
    left: 45px;
  }

  .project-inside-area .carousel-caption h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .project-inside-area .carousel-caption h2 {
    font-size: 32px;
    margin-bottom: 8px;
  }

  .project-inside-area .carousel-caption p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .project-inside-area .carousel-caption a {
    width: 135px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
  }

  .project-inside-area .carousel-control-prev img,
  .project-inside-area .carousel-control-next img {
    width: 16px;
  }

  .hero-area .swiper-container {
    padding-left: 0;
    padding-right: 0;
  }

  .hero-area .swiper-slide.single-slide {
    max-width: inherit;
  }

  .swiper-container {
    padding-left: 38px;
    padding-right: 38px;
  }

  .swiper-slide.single-slide {
    max-width: 300px;
  }

  .gallery-area {
    padding: 0;
  }

  .gallery-title {
    margin-bottom: 24px;
  }

  .gallery-title h2 {
    font-size: 42px;
  }

  .gallery-area .swiper-slide-active {
    transform: scale(1);
  }

  .gallery-area .swiper-slide-prev,
  .gallery-area .swiper-slide-next {
    opacity: 1;
  }

  .achievement-area {
    padding: 110px 0;
  }

  .achievement-items {
    margin-bottom: 45px;
  }

  .achievement-items h3 {
    font-size: 52px;
  }

  .achievement-items h4 {
    font-size: 18px;
  }

  .achievement-shape {
    width: 150px;
  }

  .achievement-link a {
    letter-spacing: 5px;
  }

  .cto-area {
    padding: 0;
  }

  .cto-title {
    margin-left: 0;
  }

  .cto-title h2 {
    color: #242424;
    font-size: 42px;
    text-transform: uppercase;
  }

  .cto-img-wrap {
    width: 100%;
    height: 150px;
    margin-top: -20px;
  }

  .cto-link a {
    margin-left: 12px;
  }

  .cto-link span {
    font-size: 24px;
    margin-right: 18px;
  }
  .cto-link img {
    width: 24px;
  }

  .cto-shape {
    display: none;
  }

  .cto-marquee-text h3 {
    font-size: 24px;
  }

  .side-bar-menu.active {
    width: 100%;
  }

  .footer-widget a {
    margin-bottom: 12px;
  }

  .footer-social {
    margin-top: 0;
  }

  /* about page css  */

  .about-hero-area {
    height: auto;
  }

  .about-hero-area .row {
    height: auto;
  }

  .about-hero-img {
    position: inherit;
    max-width: 100%;
    max-height: 395px;
  }

  .about-hero-img img {
    position: inherit;
  }

  .about-hero-title {
    margin-bottom: 32px;
  }

  .about-hero-title h1 {
    font-size: 42px;
    letter-spacing: 10px;
  }

  .about-hero-description {
    padding-right: 0;
  }

  .about-hero-description p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .who-we-are-area {
    padding: 80px 0;
  }

  .who-we-are-title {
    margin-bottom: 32px;
  }

  .who-we-are-title h2 {
    font-size: 38px;
    letter-spacing: 10px;
  }

  .who-we-are-description p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .vision-mission-title {
    margin-bottom: 24px;
  }

  .vision-mission-title h2 {
    font-size: 32px;
    letter-spacing: 5px;
  }

  .vision-mission-img-wrap {
    margin-bottom: 24px;
  }

  .vision-mission-text p {
    font-size: 12px;
    text-align: justify;
  }

  /* contact page css  */

  .contact-form-area {
    padding: 80px 0 10px;
  }

  .contact-form-title {
    margin-bottom: 40px;
  }

  .contact-form-title h2 {
    font-size: 32px;
    letter-spacing: 5px;
  }

  .input-wrap input {
    height: 50px;
  }

  .input-wrap textarea {
    height: 200px;
  }

  .submit-btn {
    margin-top: 30px;
  }

  .contact-map-area {
    padding: 70px 0;
  }

  /* project details page css  */

  .project-details-title h1 {
    font-size: 42px;
    line-height: 60px;
  }

  .about-project-description p {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .project-details-hero-img img {
    height: 440px;
  }

  .about-project-title h2 {
    font-size: 32px;
  }

  .about-project-subtitle h3 {
    font-size: 28px;
  }

  .about-project-description p {
    font-size: 16px;
    line-height: 25px;
  }
}
